<div class="row">
    <div class="col-md-5">
      <h2>Devices</h2>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let device of devices"
          (click)="selectDevice(device)"
          [class.active]="device === selectedDevice">
          {{device.type}}
        </li>
      </ul>
      <button class="btn btn-warning" (click)="createNewDevice()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <device-details
        [device]="selectedDevice"
        [createHandler]="addDevice"
        [updateHandler]="updateDevice"
        [deleteHandler]="deleteDevice">
      </device-details>
    </div>
  </div>